.header {
    padding-top: 18px;
    padding-bottom: 18px;
&__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

&__button {
    border: 1px solid #232020;
    border-radius: 24px;
    background-color: transparent;
    padding: 18px 40px;
    text-transform: uppercase;
    color: #232020;
}
}